<div class="card-group">
  <div class="row" style="display: flex;">


    <% @photos.each do |photo| %>
      <div class="col-6 col-md-4 text-center" style="margin: auto">
        <%= link_to photo, class: "photo-link" do %>
        <%= image_tag photo.image.url(:medium) %>
        <% end %>
        <br>
        <%= photo.description %><br>
        <%= link_to photo.user.name, profile_path(photo.user_id) %><br>
      </div>
    <% end %>
  </div>
</div>

