<div class="container bg-success bg-light p-2 text-dark bg-opacity-10">
  <h1 class="display-5">О проекте</h1>
  <hr class="my-4">
  <h3>Photoalbum - это социальная сеть для обмена фотографиями. </h3>
</div>
