<% unless user_signed_in? %>
  <div class="container bg-opacity-10 p-2 text-dark bg-opacity-10">
    <h1 class="display-6">Делитесь своими эмоциями</h1>
    <hr class="my-4">
    <h3>Размещайте свои фотографии и подписывайтесь на публикации ваших друзей.</h3>
  </div>
<% end %>